body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header{
    display: flex;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    transition: 0.4s;
    z-index: 2;
}

header > h2{
    flex-basis: 10%;
    text-align: center;
}

header > h2 a{
    text-decoration: none;
    color: white;
}

header > h2:hover{
    cursor: pointer;
}

header > nav{
    flex-basis: 90%;
    margin: auto 0;
    text-align: right;
}

header > nav li{
    display: inline;
    margin-right: 50px;
}

header > nav li a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

header > nav li a:hover{
    text-decoration: none;
    color: rgb(146, 144, 144);
}

/* Jumbotron */
#wadah-jumbotron{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/pegunungan.jpg');
    background-size: cover;
    padding: 284px;
    text-align: center;
    color: white;
}

/* About Me */
#about-me{
    text-align: center;
    padding: 100px;
    background-color: #6b6b70;
    color: white;
}

/* Contact Me */
#wadah{
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
}

.wrapper{
    flex-basis: 50%;
    padding: 20px;
    box-sizing: border-box;
}

#info{
    text-align: center;
    padding: 10px;
    background-color: rgb(13, 71, 205);
    color: white;
    border-radius: 10px;
}

#tabel-alamat{
    margin-top: 10px;
}

table, td, th{
    border: 1px solid #ccc;
}

td, th{
    padding: 10px;
}

table{
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

/* Riwayat Pendidikkan */
#wadah-riwayat-pendidikan{
    background-color: rgba(43, 135, 222, 0.998);
    padding: 10px;
    box-sizing: border-box;
}
#wadah-text{
    text-align: center;
    color: white;
}

/* The actual timeline (the vertical ruler) */
#timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
/* The actual timeline (the vertical ruler) */
#timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    margin-top: 20px;
}

.container{
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    box-sizing: border-box;
}

.container::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    right: -15.6px;
    background-color: black;
    top: 18px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.right {
    left: 50%;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

/* Contact Me*/
input[type=text], select, textarea{
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
}

button{
    padding: 15px;
    background-color: rgb(13, 71, 205);
    border: none;
    border-radius: 4px;
    color: white;
    transition: 0.4s;
}

button:hover{
    cursor: pointer;
    background-color: rgb(0, 49, 165);
}

/* Footer */
footer{
    text-align: center;
    background-color: #282A35;
    color: white;
    padding: 20px;
}